In [10]:
a=(input("my name is"))
b=int(input("my age is"))
print("my name is:",a)
print("my age is:",b)

my name is bala
my age is 27

my name is: bala
my age is: 27

In [12]:
a=(int(input("enter value for a")))
b=(int(input("enter value for b")))
c=(int(input("enter value for c")))
d=a*b*c
e=a+b+c
f=d/e
print(f)

enter value for a 2
enter value for b 3
enter value for c 4

2.6666666666666665

In [20]:
name=input("enter the name")
score=int(input("enter the score"))
department=input("enter the department")
print("name",name)
print("score",score/10,"/10")
print("department",department)

enter the name bala
enter the score 79
enter the department mech

name bala
score 7.9 /10
department mech

In [35]:
a=[1,1,2,3,4,5]
print(a[0])
a.insert(0,0)
print(a)
a[0]=11
print(a)
a.remove(1,)
print(a)

1
[0, 1, 1, 2, 3, 4, 5]
[11, 1, 1, 2, 3, 4, 5]
[11, 1, 2, 3, 4, 5]

In [44]:
a=(int(input("enter the number")))
if(a%3==0)and(a%5==0):
    print("divisible by both")
else:
    print("notdivisble")

enter the number 15

divisible by both